<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hueberry | Projects</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/dropdown.css">
</head>
<body>
  <%- include('../partials/header') %>
  
  <div class="container other">
    <div class="page-header">Projects</div>
    
    <div class="projects-container">
      <% if (projects && projects.length > 0) { %>
        <div class="projects-grid">
          <a href="/projects/new" class="project-card create-project-btn">
            <div class="create-project-content">
              <span>+</span>
              <span>Create a project</span>
            </div>
          </a>
          <% projects.forEach(project => { %>
            <div class="project-card" onclick="window.location.href='/projects/<%= project._id %>'">
              <% if (project.assets && project.assets.length > 0) { %>
                <div class="project-thumbnails">
                  <% 
                    const thumbnailLimit = Math.min(4, project.assets.length);
                    for (let i = 0; i < thumbnailLimit; i++) {
                  %>
                    <div class="thumbnail">
                      <img src="<%= project.assets[i].fileUrl %>" alt="Preview">
                    </div>
                  <% } %>
                  
                </div>
              <% } %>

              <div class="project-header">
                <h2 class="project-title"><%= project.name %></h2>
                <div class="asset-count">
                  <span style="font-weight: 500;"><%= project.assets ? project.assets.length : 0 %> visuals</span>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      <% } else { %>
        <div class="empty-state">
          <div class="empty-state-content">
            <a href="/projects/new" class="project-card create-project-btn">
              <div class="create-project-content">
                <span>+</span>
                <span>Create a project</span>
              </div>
            </a>
          </div>
        </div>
      <% } %>
    </div>
  </div>

  <%- include('../partials/footer') %>

  <script src="/js/main.js"></script>
</body>
</html>
