<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hueberry | <%= project.name %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/dropdown.css">
  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="container">
      <div class="project-detail-container">
        <div class="project-info">
          <div class="project-header">
            <div class="project-title-container">
              <h1><%= project.name %></h1>
              <span class="asset-count-pill"><%= project.assets ? project.assets.length : 0 %> visuals</span>
            </div>
            <div class="project-actions">
              <a href="/projects/edit/<%= project._id %>" class="btn"><img src="/img/icons/edit.svg" alt="Edit icon"></a>
              <form action="/projects/<%= project._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger"><img src="/img/icons/delete.svg" alt="Delete icon"></button>
              </form>
            </div>
          </div>

          <div class="project-description">
            <p><%= project.description %></p>
          </div>
        </div>

        <div class="project-assets-section">
          <% if (project.assets && project.assets.length > 0) { %>
            <div class="asset-grid">
           
              <a href="/assets/upload?projectId=<%= project._id %>" class="asset-card add-visual-btn">
                <div class="add-visual-content">
                  <span>+</span>
                  <span>Add a visual</span>
                </div>
              </a>
              
              <% project.assets.forEach(asset => { %>
                <div class="asset-card" onclick="window.location.href='/assets/<%= asset._id %>'">
                  <img src="<%= asset.fileUrl %>" alt="<%= asset.fileName %>" />
                  <div class="asset-overlay">
                    <a href="/assets/<%= asset._id %>" aria-label="View details for <%= asset.fileName %>"></a>
                  </div>
                </div>
              <% }) %>
            </div>
          <% } else { %>
          <div class="empty-assets">
            <div class="empty-assets-content">
              <p>No visuals found. <a href="/assets/upload?projectId=<%= project._id %>" class="btn btn-primary btn-lg">Add a new visual</a></p>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>

    <script src="/js/main.js"></script>
  </body>
</html>
